{% comment %}
  Snippet for displaying product certificates
{% endcomment %}

<div class="c-product-certificates">
        {% for block in certificates %}
            <div class="c-product-certificates__certificate">
                <div class="c-product-certificates__certificate__image-wrapper">
                  {% if block.settings.image != blank %}
                      <img loading="lazy" class="c-product-certificates__certificate__image" src="{{ block.settings.image | img_url }}">
                  {% endif %}
                </div>

              {% comment %}}

                <div class="c-product-certificates__certificate__text-wrapper">
                    {% if block.settings.title != blank %}
                        <h6 class="c-product-certificates__certificate__title">{{ block.settings.title|escape }}</h5>
                    {% endif %}

                    {% if block.settings.text != blank %}
                        <div class="c-product-certificates__certificate__text">{{ block.settings.text }}</div>
                    {% endif %}
                </div>
                <a class="c-product-certificates__certificate__link" href="https://sevendal.com/pages/etiske-diamanter"></a>
             {% endcomment %}

            </div>
        {% endfor %}
</div>
