<div class="c-usp">
  <div class="c-usp__inner">
    <div class="c-usp__item">
        <span class="c-usp__icon"></span>
        <small class="c-usp__title">{{usp_1}}</small>
    </div>
    <div class="c-usp__item">
        <span class="c-usp__icon"></span>
        <small class="c-usp__title">{{usp_2}}</small>
    </div>
    <div class="c-usp__item">
        <span class="c-usp__icon"></span>
        <small class="c-usp__title">{{usp_3}}</small>
    </div>
  </div>
</div>
