<div id="about" class="t-page">
  <div class="t-page__content rte">
    <div  class="main_about" style="text-align: center;"> 
    <h1> {{ page.metafields.heading.heading_1 }}</h1>
     <img loading="lazy" src="{{ page.metafields.image.image_custom }}" alt="image_custom">


      



      
    <p></p>
       {{ page.metafields.Description.description_1 }}
        {{ page.metafields.tekst.tekst }}
    </div>
  </div>
</div>



