<style>

  body#personvern .t-page {
    padding-top: 0;
  }
  
</style>

<div class="t-page">
  <div class="
    c-billboard
    c-billboard--split
    c-billboard--full-width
    u-bg-primary-background" style="
      background: #fffcf7;
      color: #000;
      padding-top:35px;
      padding-bottom:100px;
  ">
      <h1 class="t-page__title">{{ page.title }}</h1>
      Nettstedet Sevendal.com eies og drives av Sevendal AS med org.nr 925 589 748 MVA
  </div>

  <div class="t-page__content rte">
    {{ page.content }}
  </div>
</div>
