<style>

  body#frakt-og-levering .t-page {
    padding-top: 0;
  }
  
</style>

<div class="t-page">
  <div class="
    c-billboard
    c-billboard--split
    c-billboard--full-width
    u-bg-primary-background" style="
      background: #fffcf7;
      color: #000;
    padding-top:35px;
    padding-bottom:100px;
  ">
      <h1 class="t-page__title">{{ page.title }}</h1>
      Sevendal benytter frakt og leveringstjenester fra Bring <br>
      Lurer du på noe om retur? <a href="https://sevendal.com/pages/frakt-og-forsendelse/" title="Gå til vår returside.">Gå til vår returside.</a> 

  
  </div>

  <div class="t-page__content rte">
    {{ page.content }}
  </div>
</div>
