<style>

  body#salgsbetingelser .t-page {
    padding-top: 0;
  }
  
</style>

<div class="t-page">
  <div class="
    c-billboard
    c-billboard--split
    c-billboard--full-width
    u-bg-primary-background" style="
      background: #fffcf7;
      color: #000;
      padding-top:35px;
      padding-bottom:100px;
  ">
      <h1 class="t-page__title">{{ page.title }}</h1>
      Når du handler på Sevendal.com er kjøpet regulert av de nedenstående salgsbetingelsene for forbrukerkjøp av varer over internett. Forbrukerkjøp over internett reguleres hovedsakelig av avtaleloven, forbrukerkjøpsloven, markedsføringsloven, angrerettloven og e-handelsloven. Disse lovene gir deg som forbruker ufravikelige rettigheter. Lovene er tilgjengelige på lovdata.no.
  </div>

  <div class="t-page__content rte">
    {{ page.content }}
  </div>
</div>
