<style>
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mad div#shopify-section-1646221224aff0dcb4 .c-billboard__image {
    order: 1;
}
.mad div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    order: 2;
}


div#shopify-section-16451883074f3eb86c {
    margin-top: 20px;
}

@media (max-width: 767px)
{
div#shopify-section-164622105259534999 img {
    max-width: 100% !important;
    margin: 0px !important;
}


div#shopify-section-1646221224aff0dcb4 h2.c-billboard__title {
    margin-top: 20px;
}
.c-billboard__image {
    order: 1;
}
.c-billboard__content {
    order: 2;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard--split .c-billboard__image {
    max-height: 50vh !important;
}
  }
</style>
<div class="mad">
<div id="shopify-section-1646221224aff0dcb4" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;1646221224aff0dcb4&quot;,&quot;type&quot;:&quot;billboard&quot;,&quot;disabled&quot;:false}">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">


      <div class="c-billboard__content"><h1 class="c-billboard__title ">Fairtrade-gull</h1>
<div class="c-billboard__lead">  <h2>Hva er Fairtrade-gull?</h2>
<p>Fairtrade-gull er gull som er produsert av småskala gruver som oppfyller strenge krav for å sikre at utvinningen av gull ikke går på bekostning av menneskerettigheter eller miljøet. </p>
<p>Fairtrade International, en uavhengig organisasjon som arbeider for å fremme bærekraftig utvikling og rettferdige handelsforhold for bønder og arbeidere i utviklingsland, sertifiserer gull som oppfyller disse kravene.</p>
<p>Gruvearbeidere som produserer Fairtrade-gull mottar rettferdig betaling for arbeidet sitt og jobber under trygge og verdige forhold. De blir også opplyst om farene ved kvikksølv og andre skadelige stoffer. </p>
<p>I tillegg mottar de en ekstra sum for gullet som er øremerket til å finansiere samfunnsprosjekter som skoler og sykehus, som er avgjørende for å forbedre livskvaliteten til gruvesamfunnene.</p>
<p></p>
<p></p>



 


</div>
       </div>
      
        <div class="c-billboard__image">
          <style>#Image-28659650461859-0 {
    max-width: 780.0px;
    max-height: 780px;
  }
  #ImageWrapper-28659650461859-0 {
    max-width: 780.0px;

  }

  #ImageWrapper-28659650461859-0::before {
     padding-top: 780px;
    
  }
</style><div id="ImageWrapper-28659650461859-0" data-image-id="28659650461859" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28659650461859-0" class="responsive-image__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" width="615" height="615" alt="Fairtrade-gull logo Sevendal" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 1000w" sizes="779.9999999999999px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638 1000w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Gifteringer_Sevendal_Sertifisert_Fairtrade_gull_modeller_holder_hender.jpg?v=1690112638" width="800" height="1000" alt="Fairtrade-gull logo Sevendal"> 
</noscript>

        </div>
      

    </div>
</div>

</div>

</div>
<div id="shopify-section-16451883074f3eb86c" class="shopify-section">
<div class=" c-grid--columns-3 " style="
    text-align: center;
">
    

    

    <div class="c-grid__items">
        
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-1_small.png?v=1583931213" width="40" height="40" alt="ikon humanitær Sevendal">
                    
<div class="c-grid__item__text"><p>Mange gruver drives under tvang, og det er ofte barn som blir tvunget til det farlige arbeidet.
   <br></p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-2_small.png?v=1583931233" width="40" height="40" alt="ikon etisk produksjon Sevendal">
                    
<div class="c-grid__item__text"><p>Å kjøpe Fairtrade-gull er en måte å bidra til å bekjempe barnearbeid i gullgruver og andre sosiale og miljømessige problemer. </p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-3_small.png?v=1583931246" width="40" height="40" alt="ikon garanti Sevendal">
                    
<div class="c-grid__item__text"><p>Kjøp av <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/er-gifteringer-i-resirkulert-gull-etiske" title="resirkulert gull">resirkulert-gull</a> gir ingen betydelig miljømessig eller humanitær verdi.</p></div></div></div>
</div>


</div>
<div id="shopify-section-1646221224aff0dcb4" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;1646221224aff0dcb4&quot;,&quot;type&quot;:&quot;billboard&quot;,&quot;disabled&quot;:false}">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><h2 class="c-billboard__title "></h2>
<div class="c-billboard__lead">
    </p><h2 class="c-billboard__sub_title ">Det mest verdifulle gullet</h2>
  <p>Småskala gullgruvedrift er en viktig kilde til arbeidsplasser i mange utviklingsland, men også en stor kilde til forurensning og utnyttelse. Hvert år frigjøres 1000 tonn kvikksølv fra småskala gullgruver, noe som er farlig for miljøet og helsen til gruvearbeiderne og deres familier.</p>
 <p></p> 
<p> Det finnes omtrent 20 millioner småskala gullgruvearbeidere globalt inkludert 5 millioner kvinner og barn, men de står bare for ca. 20 prosent av verdens gullforsyning. Mange tjener så lite som 10-20 kroner dagen, og de blir ofte utnyttet av mellommenn.</p>  
<p></p>
  <p>Gullgruvedrift er en av de verste formene for barnearbeid. Barn som jobber i gullgruver er utsatt for farlige arbeidsforhold, de blir ofte utnyttet og mishandlet, og de har liten eller ingen mulighet til å gå på skole.</p>
<p>Når du kjøper Fairtrade-gull, kan du være sikker på at du støtter en bærekraftig produksjonsprosess som bidrar til å forbedre livene til barn og familier i gullgruvesamfunn</p>

<p></p>

<p></p>
<p>. </p>
<p></p>
</div>
          </div>
      
        <div class="c-billboard__image">
          <style>#Image-28659689193635-0 {
    max-width: 780.0px;
    max-height: 780px;
  }
  #ImageWrapper-28659689193635-0 {
    max-width: 780.0px;

  }

  #ImageWrapper-28659689193635-0::before {
     padding-top: 780px;
    
  }
</style><div id="ImageWrapper-28659689193635-0" data-image-id="28659689193635" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28659689193635-0" class="responsive-image__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" width="800" height="1000" alt="Hånd som holder blomster med en giftering og forlovelsesring i fairtrade-gull med diamanter" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 1000w" sizes="779.9999999999999px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662 1000w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Giftering_forlovelsesring_hand_blomster_fairtrade_sevendal.webp?v=1682411662" width="800" height="1000" alt="Hånd som holder blomster med en giftering og forlovelsesring i fairtrade-gull med diamanter">
</noscript>

        </div>
      

    </div>
</div>

</div>








<div id="shopify-section-164622105259534999" class="shopify-section">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image">
<center><img loading="lazy" style="max-width: 700px;
    border-radius: 25px;
    margin: 50px;" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Diplom_Fairtrade_Gold_Ambassador_Sevendal.webp?v=1689808112" alt="Diplom Fairtrade-gull ambassador Jonathan Sevendal"/>
</center>
</div>
</div>