<style>


.c-grid--columns-3 img {
    width: 150px;
}

.c-grid--columns-4 img {
    width: 150px;
}
@media (min-width: 768px)
{
.c-billboard--split .c-billboard__image {
    -ms-flex-preferred-size: 5%;
    flex-basis: 5%;
   
}
.c-billboard--full-width.c-billboard--split .c-billboard__lead {
    max-width: 100%;
  
}

} 


@media (max-width: 767px)
{
h3.c-grid__title.h2-display {
    margin-top: 45px !important;
}
.c-billboard--split .c-billboard__image {
    max-height: 34vh !important;
   
}
 .c-billboard__title {
    margin-bottom: 0;
 
}
.c-billboard--split .c-billboard__content {
    padding-top: 0;
    
}
}
</style>
<div id="shopify-section-164622105259534999" class="shopify-section">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_New_B.png?v=1665167449">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_New_B.png?v=1665167449" alt="ikon_etiske_diamanter_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content"><h1 class="c-billboard__title ">7 C-er</h1>
        <div class="c-billboard__lead">
<h3>Gullsmeder pleier å referere til diamantens '4 C-er', men vi mener at det finnes tre ekstra faktorer som er like viktige</h3>

 


 


 


</div>
         

    </div>
</div>

</div>

</div>




<div id="shopify-section-16451883074f3eb86c" class="shopify-section">
<div class=" c-grid--columns-3 " style="
    text-align: center;
">
    
        <h3 class="c-grid__title h2-display" style="
    margin-bottom: 60px;
">Diamantens "7 C-er" </h3>
    


    <div class="c-grid__items">
        
		   <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Conscience.png?v=1665086394" alt="ikon_conscience_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Conscience</h5><div class="c-grid__item__text"><p> Conscience - samvittighet - den viktigste C-en av alle. De fleste gullsmeder hevder å tilby "konfliktfrie" og "etiske" diamanter og resirkulert gull, men dessverre er sannheten ofte noe annet. 

</p><a href="#Conscience">Les mer</a></div>

</div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Colour.png?v=1665085854" alt="ikon_farge_colour_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Color</h5><div class="c-grid__item__text"><p>Diamanter kan variere fra helt fargeløse til lys gulfargede eller brunaktige. Fargegraden til en diamant bestemmes av hvor mye farge som er til stede, og hvor intens fargen er.<br></p><a href="#color">Les mer</a></div>

</div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Clarity.png?v=1665085996" alt=ikon_renhet_clarity_sevendal>
                    
<h5 class="c-grid__item__title pre-title">Clarity</h5><div class="c-grid__item__text"><p>Klarhet refererer til mengden og plasseringen av naturlige urenheter, også kjent som inklusjoner, og overflatedefekter, også kjent som blemmer, i en diamant.</p><a href="#CLARITY">Les mer</a></div>

</div>
        


</div>
</div>





</div>


<div id="shopify-section-16451883074f3eb86c" class="shopify-section">
<div class=" c-grid--columns-4" style="
    text-align: center;
">
    
       
    

    <div class="c-grid__items">
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_cut.png?v=1665086283" alt="ikon_slip_cut_diamant_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Cut</h5><div class="c-grid__item__text"><p> Diamantslip refererer til måten diamanten er formet og slipt på for å maksimere lysrefleksjonen og gi diamanten sin gnistrende skjønnhet.</p><a href="#Cut-slip">Les mer</a></div>

</div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Carat.png?v=1665086349" alt="ikon_carat_diamant_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Carat</h5><div class="c-grid__item__text"><p>Diamantens carat refererer til vekten av en diamant og måles i carat, hvor én carat tilsvarer 0,2 gram.<br></p><a href="#Carat">Les mer</a></div>

</div>
         
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Certifricate.png?v=1665086436" alt="ikon_sertifikat_diamant_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Certification</h5><div class="c-grid__item__text"><p>Et diamantsertifikat er ditt bevis på at diamanten har blitt eksaminert i detalj av en profesjonell gemmolog. </p><a href="#Certification">Les mer</a></div>

</div>

   <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Clean.png?v=1665086692" alt="ikon_rengjøring_diamant_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Clean</h5><div class="c-grid__item__text"><p>En diamant er som en samling av små speil som reflekterer lys og omgivelsene. Farge, klarhet og slip vil bety lite hvis diamanten er skitten.</p><a href="#Clean">Les mer</a></div>

</div>


</div>
</div>





</div>
<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="Conscience" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
" style="
    direction: rtl;
">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Conscience.png?v=1665086394">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Conscience.png?v=1665086394" alt="ikon_samvittighet_diamant_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Conscience </h2>
        <div class="c-billboard__lead">
<p> Conscience - samvittighet - den viktigste C-en av alle. De fleste gullsmeder hevder å tilby <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/kimberley-prosessen-konfliktfri-bloddiamant" title="konfliktfrie">”konfliktfrie"</a>, "etiske" diamanter og mijøvennlig <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/er-gifteringer-i-resirkulert-gull-etiske" title="resirkulert gull">”resirkulert gull</a>, men dessverre er sannheten ofte noe annet.  </p>
<p>En av tre "konfliktfrie" <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/diamanter-og-krigen-i-ukraina-vil-du-sponse-russlands-krigforing" title="diamanter">”diamanter</a> finansierer Russlands invasjon og krig i Ukraina, og konfliktdiamanter blir ofte solgt som "etiske" og "konfliktfrie". Kimberley-sertifiseringen fungerer ikke og tar uansett ikke hensyn til bruk av barnearbeid, brudd på menneskerettigheter eller miljøproblemer i sin sertifisering..</p>
<p></p>
<p>Det er flere millioner småskala diamant-gruvearbeidere som lever i ekstrem fattigdom og produserer opptil 20 prosent av verdens totale diamantforsyning. De har sett få forbedringer i sine liv og arbeidsforhold, til tross for at alle hevder å selge "konfliktfrie" diamanter.</p>
<p>Vi drømmer om en ideell diamant, en som er rettferdig handel-sertifisert og kommer fra et småskala diamantgruvesamfunn som opererer uten å skade miljøet, og der inntektene kommer til gode for lokalsamfunnet og deres innbyggere. Dessverre er disse diamantene ikke tilgjengelige på markedet ennå, men vi håper å bidra til at de blir det.</p>
<p>Så hva er alternativene? Vi kan ikke bruke kjøpekraften vår til å hjelpe småskala gruvearbeidere direkte, men vi kan fortsatt ta valg som gjør en forskjell. En av disse er å velge <a href="https://sevendal.com/pages/etiske-diamanter" title="naturlige diamanter fra Canada">naturlige diamanter fra Canada</a>, som har en lang og stolt historie med etisk og bærekraftig diamantutvinning. Et annet alternativ er lab-dyrkete <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/hva-er-fordelene-med-lab-diamanter" title=diamanter>diamanter</a>, som er like vakre og holdbare som naturlige diamanter, men uten noen av de negative konsekvensene.</p>
<p>Vi håper at ved å velge disse alternativene, kan du være med på å gjøre en forskjell og bidra til å skape en mer rettferdig og bærekraftig fremtid for alle.</p>
        </div>
         

    </div>
</div>

</div>

</div>



<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="color" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  c-billboard--image
  
" style="
    direction: rtl;
">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image" style="order:1;">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Colour.png?v=1665085854">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Colour.png?v=1665085854" alt="ikon_farge_diamanter_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Color</h2>
        <div class="c-billboard__lead">
<p>Diamanter kan variere fra helt fargeløse til gulfargede eller brunaktige. Fargegraden til en diamant bestemmes av hvor mye farge som er til stede, og hvor intens fargen er.</p>

<p>Diamanter klassifiseres etter en fargegradskala som går fra D (fargeløs) til Z (mettet farge). Diamanter som er klassifisert som D-F anses som fargeløse, mens G-J anses som nær fargeløse, og K-M har en svak gulaktig fargetone. Diamanter som har en fargegrad på N-Z er gulfargede eller brunaktige, og disse diamantene anses ofte som mindre verdifulle enn fargeløse eller nær fargeløse diamanter.</p>

<p>Utvalgte sjeldne <a href=" https://sevendal.com/blogs/inspirasjon-og-kunnskap/fargede-diamanter-lab-dyrkete-og-naturlige-diamanter" title=" fargede diamanter "> fargede diamanter</a> kan inneha større verdi enn sine fargeløse motparter. Fargene på disse juvelene kan stråle i lysegul, rosa, rød, grønn, blå, eller til og med svart. Deres unike fargetone skyldes ofte urenheter eller avvik i krystallstrukturen, og gjør dem til ettertraktede skatter blant samlere og diamantelskere.</p>

<p>Når du kjøper en diamant, vil fargegraden være en av de "4-C er" som vil påvirke prisen på diamanten sammen med caratvekt, klarhet og slip. Mens fargegraden vil påvirke prisen på diamanten, er det fortsatt viktig å velge en diamant som ser vakker ut for øyet ditt og passer til din personlige stil og preferanser. </p>
</div>
         

    </div>
</div>

</div>

</div>



<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="CLARITY" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
"  style="
    direction: rtl;
">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Clarity.png?v=1665085996">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Clarity.png?v=1665085996" alt="ikon_renhet_diamant_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Clarity</h2>
        <div class="c-billboard__lead" style="
    direction: ltr;
">

<p>Klarhet refererer til mengden og plasseringen av naturlige urenheter, også kjent som inklusjoner, og overflatedefekter, også kjent som blemmer, i en diamant.</p>
<p>Diamanter blir klassifisert etter en klarhetsgradskala som går fra "FL" (feilfri) til "I3" (inneslutninger synlige for det blotte øye). Feilfrie diamanter (FL) er ekstremt sjeldne og dyre, da de ikke har noen synlige inklusjoner eller blemmer selv under 10x forstørrelse. De fleste diamanter har imidlertid naturlige urenheter som påvirker klarhetsgraden, og disse kan sees med det blotte øye eller gjennom et mikroskop. Diamanter som har inklusjoner som er synlige for det blotte øye, anses som mindre verdifulle.</p>
<p>Selv om klarhet kan påvirke prisen på en diamant, betyr det ikke alltid at en diamant med høyere klarhet er bedre. I noen tilfeller kan små inklusjoner i en diamant være usynlige for det blotte øye, og derfor ha minimal innvirkning på dens skjønnhet og verdi. Det er derfor viktig å kjøpe en diamant med klarhet som er høyt nok til å se ren ut for det blotte øyet, men ikke så høyt at du betaler mer for noe som ikke kan sees.</p>
<p>Det er også viktig å merke seg at hver diamant er unik, og inklusjoner kan ha forskjellige former, størrelser og plasseringer i hver diamant. Noen inklusjoner kan faktisk gi en diamant sin unike karakter og personlighet. Derfor er det viktig å se på klarhet sammen med de andre faktorene som påvirker diamantens verdi, og velge en diamant som passer din personlige stil og budsjett.</p>

</div>
         

    </div>
</div>

</div>

</div>


<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="Cut-slip" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  c-billboard--image
  
" style="
    direction: rtl;
">
    <div class="c-billboard__inner" >
      
        <div class="c-billboard__image" style="order:1;">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_cut.png?v=1665086283">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_cut.png?v=1665086283" alt="ikon_slip_diamant_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Cut</h2>
        <div style="
    direction: ltr;
" class="c-billboard__lead">

<p>Diamantslip refererer til måten diamanten er formet og slipt på for å maksimere lysrefleksjonen og gi diamanten sin gnistrende skjønnhet.</p>
<p>En diamant kan bli slipt på forskjellige måter, og hver form har sin egen unike skjønnhet og stil. De vanligste formene er rund, firkantet, oval, pæreformet, hjerteformet, og smaragdformet. Hver form har også forskjellige egenskaper som påvirker diamantens skjønnhet og verdi. For eksempel vil en diamant med en rund form ha et høyere prispunkt enn en diamant med en smaragdformet eller hjerteformet form, da det krever mer av materialet å lage en rund diamant.</p>
<p>Når det gjelder slip, er det viktig å se på flere faktorer som påvirker diamantens skjønnhet og verdi, inkludert symmetri, proporsjoner, polering og skjærefasetter. Disse faktorene påvirker hvor mye lys diamanten kan reflektere og hvor jevnt lyset sprer seg gjennom diamanten.</p>
<p>En diamant med en ideell slipning vil ha alle disse faktorene i harmoni og gi maksimal lysrefleksjon, noe som resulterer i en gnistrende skjønnhet og høy verdi. Det er imidlertid også viktig å huske på at hver diamant er unik, og noen diamantformer kan ha forskjellige optimale proporsjoner og fasetter for å maksimere lysrefleksjonen. Det er derfor viktig å velge en diamant med en slipning som passer din personlige stil og budsjett, samtidig som du ser på kvaliteten og skjønnheten til diamanten.</p>




</div>
         

    </div>
</div>

</div>

</div>



<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="Carat" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
" style="direction: rtl;">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image" >
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Carat.png?v=1665086349">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Carat.png?v=1665086349" alt="ikon_carat_diamant_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Carat</h2>
        <div class="c-billboard__lead">

<p>Diamantens carat refererer til vekten av en diamant og måles i carat, hvor én carat tilsvarer 0,2 gram.</p>
<p>Diamantvekt kan også refereres til i poeng: 100 poeng er lik 1,00 Carat. Så hvis en edelsten er 50 poeng, betyr det at den veier 0,50 Carat. Poeng brukes ofte for å beskrive vekten av mindre diamanter.</p>
<p>Diamanter av samme carat-vekt er nødvendigvis ikke like, og det er viktig å ta hensyn til diamantens dybde og form </p>
<p>Noen slipeformer på diamanter gir en større overflate enn andre. Former som for eksempel <a href="https://sevendal.com/products/klassisk-tynn-ring-oval" title=" oval"> oval</a>- og <a href="https://sevendal.com/products/forlovelsesring-tynn-drapeformet-diamant" title=" dråpe"> dråpe</a>-slipte diamanter ser ofte større ut enn hva de er.  Hjerteformede diamanter kan se mindre ut enn hva de faktisk er, da mye av vekten ligger i dybden av steinen og ikke i overflaten.</p>



</div>
         

    </div>
</div>

</div>

</div>




<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="Certification" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  c-billboard--image
  
" style="
    direction: rtl;
">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image" style="order:1;">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Certifricate.png?v=1665086436">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Certifricate.png?v=1665086436" alt="ikon_sertifikat_diamant_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Certification</h2>
        <div class="c-billboard__lead">
<p>Et diamantsertifikat er ditt bevis på at diamanten har blitt eksaminert i detalj av en profesjonell gemmolog. </p>
<p>Hos oss kommer alle naturlige diamanter på over 0.30 carat med sertifikat fra verdens mest anerkjente diamantlaboratorium og gemmologiske senter <a href="https://www.gia.edu/" title="GIA">GIA</a>, i tillegg til <a href="https://www.canadamark.com/" title="Canadamark">Canadamark</a> sertifikatet som sikrer at du handler en <a href="https://sevendal.com/pages/etiske-diamanter" title=" etisk diamant"> etisk diamant</a>. </p>
<p>Våre Lab-<a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/hva-er-fordelene-med-lab-diamanter" title=diamanter>diamanter</a> sertifiseres av <a href="https://www.igi.org/" title="IGI">IGI</a>, som er branjeledne på sertifisering av menneskeskapte diamanter. </p>
<p>Det er viktig at du orienterer deg god om hvilket sertifikat det refereres til før du sammenligner diamanter og i det hele tatt foretar et kjøp, det finnes aktører som er ganske “hyggelige” i sine graderinger og da det kan gi økonomiske konsekvenser. </p>
</div>
         

    </div>
</div>

</div>

</div>

<div id="shopify-section-164622105259534999" class="shopify-section">
<div id="Clean" class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
" style="
    direction: rtl;
">
    <div class="c-billboard__inner">
      
        <div class="c-billboard__image">
          <style>#Image-577570209955-0 {
    max-width: 820px;
    max-height: 547.76px;
  }
  #ImageWrapper-577570209955-0 {
    max-width: 820px;
  }

  #ImageWrapper-577570209955-0::before {padding-top:145%;
  }
</style><div id="ImageWrapper-577570209955-0" data-image-id="577570209955" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-577570209955-0" class="responsive-image__image lazyautosizes lazyloaded" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Clean.png?v=1665086692">
</div>

<noscript>
  <img loading="lazy" class="" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Final_Clean.png?v=1665086692" alt="ikon_rengjøring_diamant_sevendal">
</noscript>

        </div>
      

      <div class="c-billboard__content" style="
    padding: 60px 60px !important;
">

<h2 class="c-billboard__title ">Clean</h2>
        <div class="c-billboard__lead">
<p>Clean - vask meg! En diamant er som en samling av små speil som reflekterer lys og omgivelsene. Farge, klarhet og slip vil bety lite hvis diamanten er skitten. Du må holde diamanten ren (fri for olje og smuss) hvis du vil at den skal glitre like mye som den gjorde da du først så den.</p>
<p>Diamanter er blant de hardeste mineralene som finnes på jorden, men det kreves litt forsiktighet for å holde dem skinnende og rene. Den beste måten å holde diamanten på sitt reneste, er regelmessig rengjøring.</p>
<p>Bløtlegg diamanten med et ammoniakk-basert rengjøringsmiddel, gjerne over natten og så ofte som en gang i uken. Når du fjerner diamanten fra rengjøringsmiddelet så kan du børste den med en myk og ren tannbørste for å fjerne rester av smuss tips: bruk en som kun er til å rengjøre diamanten din. Vær ekstra nøye med å pusse baksiden av diamanten, fordi dette området har en tendens til å samle mye olje og smuss.</p>
<p>Finn et trygt sted å rengjøre diamanten. Hvis det kan unngås, burde du ikke rengjøre smykkene i, eller i nærheten av vasken. Hvis en vask er det eneste alternativet for rengjøring av smykket ditt, må du sørge for å dekke avløpet slik at ikke smykket ditt plutselig faller nedi. </p>
<p>Klor og skurekremer må aldri brukes ved rengjøring av diamanter, spesielt når de er satt i smykker. Disse produktene kan ødelegge metallene i smykket, og de kan løsne klørne og oppløse metallet helt. </p>
</div>
         

    </div>
</div>

</div>

</div>





