<style>
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard__image {
    order: 1;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    order: 2;
}


div#shopify-section-16451883074f3eb86c {
    margin-top: 20px;
}

@media (max-width: 767px)
{
div#shopify-section-1646221224aff0dcb4 .c-billboard--split .c-billboard__image {
    max-height: 45vh !important;
}

div#shopify-section-1646221224aff0dcb4 h2.c-billboard__title {
    margin-top: 20px;
}
  }
</style>
<div id="shopify-section-1646221224aff0dcb4" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;1646221224aff0dcb4&quot;,&quot;type&quot;:&quot;billboard&quot;,&quot;disabled&quot;:false}">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><h1 class="c-billboard__title ">Våre diamanter</h1>
<div class="c-billboard__lead">
  <h2>Etisk og sporbar</h2> 
<p>Hos oss kan du være helt trygg på at diamanten din er etisk og har full sporbarhet, inkludert opprinnelsesgruve og slipested. </p>

<p>Vi gir deg alltid muligheten til å velge mellom naturlige og lab-dyrkede diamanter. Begge varianter er visuelt og fysisk identiske, med samme molekylstruktur. Naturlige diamanter dannes i jordens indre, mens lab-dyrkede diamanter produseres i laboratorier. </p>
 
<p>Vi gjemmer oss ikke bak Kimberley-prosessen og benytter oss ikke av begrepet <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/kimberley-prosessen-konfliktfri-bloddiamant" title="konfliktfri">”konfliktfri".</a> I stedet kan du være sikker på at  våre diamanter er etiske og 100 prosent <a href="https://arcticcanadian.ca/canadamark/" title="sporbare">sporbare.</a> </p>

 
<p><strong>Vi er stolte av å tilby deg diamanter som ikke bare er vakre, men også står for vårt engasjement for bærekraft og ansvarlig praksis.</strong> </p>

 


</div>
     </div>
      
        <div class="c-billboard__image">
          <style>#Image-28650254631075-0 {
    max-width: 780.0px;
    max-height: 780px;
  }
  #ImageWrapper-28650254631075-0 {
    max-width: 780.0px;

  }

  #ImageWrapper-28650254631075-0::before {
     padding-top: 780px;
    
  }
</style><div id="ImageWrapper-28650254631075-0" data-image-id="28650254631075" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28650254631075-0" class="responsive-image__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" width="615" height="615" alt="diavik_diamantgruve_canada_bilde" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 1000w" sizes="779.9999999999999px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539 1000w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Diavik_diamant_gruve.jpg?v=1685115539" width="615" height="615" alt="Etiske diamanter Diavik diamantgruve Canada">
</noscript>

        </div>
      

    </div>
</div>

</div>
<div id="shopify-section-16419792222ce8670c" class="shopify-section">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-primary-background
  
  
">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content" style="
      padding: 75px 25px;
"><h2 class="c-billboard__title ">Våre naturlige diamanter</h2>
        <div class="c-billboard__lead"><p>Vi gleder oss over å kunne tilby naturlige diamanter fra Etkati- og Diavik-gruvene i de canadiske nordvestlige territoriene, som ligger omtrent 200 kilometer sør for polarsirkelen.</p>
          <p>Disse gruvene er ikke bare kjent for sine eksepsjonelle diamanter, men også for deres forpliktelse til miljøbevaring og bærekraftig gruvedrift</p>
          <p>Som pionerer innen industrien har de satt strenge miljøkrav og implementert innovative praksiser som vanngjenvinning, kompostering og ansvarlig gruvedrift.</p>
          <p>Dette har bidratt til å forbedre livene til lokalsamfunnene rundt gruvene, beskytte det rike dyrelivet og respektere miljøet.</p>
<p>For å sikre full sporbarhet og kvalitet, blir hver diamant merket og sporet av <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/canadamark-kvalitet-sporbarhet-diamant" title="canadamark">Canadamark™</a>, en uavhengig tredjepart. Individuell sertifisering og lasermerking gir deg garanti om diamantens canadiske opprinnelse.  </p>
<p><strong>Med våre diamanter kan du ikke bare glede deg over deres skjønnhet, men også vite at du støtter ansvarlig og etisk gruvedrift.</strong></p>
<p></p> 
<p><strong></strong></p>         
</div>
</div>

    </div>
</div>

</div>


  
<div id="shopify-section-16451883074f3eb86c" class="shopify-section">
<div class=" c-grid--columns-4 " style="
    text-align: center;
">
<img loading="lazy" class="c-grid__item__image" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/Ikon_lab_diamanter_sevendal.webp?v=1685124531" width="350" height="350" alt="Icon for miljøvennlig diamant" style=" max-width: 350px;">

    <h2 class="c-grid__title h2-display" style="
    margin-bottom: 60px;
">Lab-dyrkete diamanter </h2>
        
    

    <div class="c-grid__items">
        
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Ikon_sevendal_lys_mork_lilla.png?v=1685124983" width="40" height="40" alt="ikon etisk diamant sevendal">
                    
<h5 class="c-grid__item__title pre-title">Et miljøvennlig valg</h5><div class="c-grid__item__text"><p>Hvis du ønsker å ta vare på miljøet samtidig som du skaffer deg drømmesmykket ditt til en mer overkommelig pris, er lab-dyrkede diamanter et utmerket valg. <br></p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Ikon_sevendal_lys_mork_lilla_gronn.png?v=1685124983" width="40" height="40" alt="ikon_lab_diamant_sevendal">
                    
<h5 class="c-grid__item__title pre-title">Hvordan lages de?</h5><div class="c-grid__item__text"><p><a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/hva-er-fordelene-med-lab-diamanter"  title="Lab-dyrkete diamanter">Lab-dyrkete diamanter</a> dyrkes i laboratorier ved hjelp av avansert teknologi som etterligner den naturlige prosessen for diamanter. Visuelt og fysisk er de helt identiske med naturlige diamanter.</p></div></div>



</div>
</div>





</div>




<div id="shopify-section-16419792222ce8670c" class="shopify-section">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-primary-background
  
  
" style="
    background: #f8f1e5;
    color: #000;
">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content" style="
   padding: 75px 25px;
"><h2 class="c-billboard__title " style="
    color: #000;
">Kimberley-sertifiseringen</h2>
 <div class="c-billboard__lead"><p>Vi vet at Kimberly-sertifiseringen kan være vanskelig å validere. Mange diamanter markedsføres som "konfliktfrie" uten tilstrekkelig sporingsinformasjon. </p>
 <p> <strong> Selv om <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/kimberley-prosessen-konfliktfri-bloddiamant" title="kimberley-sertifiseringen">Kimberley-sertifiseringen</a> er et steg i riktig retning, tar den ikke hensyn til vold, menneskerettighetsbrudd, korrupsjon, barnearbeid, tvangsarbeid eller miljøpåvirkning.</strong> </p>       
<p>Derfor går vi utover Kimberley-sertifiseringen og kan forsikre deg om at våre diamanter ikke har noen tilknytning til korrupsjon eller utnyttelse. </p>
   <p>Vi er forpliktet til kun å handle med etiske diamanter som ikke har medført miljøskade eller menneskerettighetsbrudd.</p>
<p>Når du velger diamanter hos oss, kan du gjøre det med god samvittighet, og samtidig oppdage vårt utvalg av bærekraftige og sporbare diamanter.</p>        
</div>
</div>

    </div>
</div>

</div>



