<style>
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard__image {
    order: 1;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    order: 2;
}


div#shopify-section-16451883074f3eb86c {
    margin-top: 20px;
}

@media (max-width: 767px)
{
div#shopify-section-1646221224aff0dcb4 .c-billboard--split .c-billboard__image {
    max-height: 45vh !important;
}

div#shopify-section-1646221224aff0dcb4 h2.c-billboard__title {
    margin-top: 20px;
}
.sevendal_text {
  
    margin-top: -10px;
}
  }
</style>
<div id="shopify-section-1646221224aff0dcb4" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;1646221224aff0dcb4&quot;,&quot;type&quot;:&quot;billboard&quot;,&quot;disabled&quot;:false}">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><h1 class="c-billboard__title ">Sevendal</h1>
<div class="c-billboard__lead">
</p> <h2 class="c-billboard__sub_title ">Etiske smykker </h2>
  
<p>Hos Sevendal kan du handle eksklusive smykker som er produsert med omtanke for både mennesker og miljø.</p>

 
<p>Vi handler direkte med etiske aktører og sikrer full sporbarhet på våre materialer. </p>

 
<p>Dette betyr at vi kan garantere at våre produkter er fremstilt på mest mulig human måte, med minimalt miljøavtrykk. </p>

 
<p>Ved å fjerne unødvendige mellomledd kan vi tilby etiske smykker av høy kvalitet til en lav pris, uten at det går på bekostning av noen i verdikjeden.  </p> 

  <p>Dette gjør at du som kunde kan nyte godt av de beste produktene til den beste prisen, samtidig som du vet at du støtter en mer bærekraftig og ansvarlig produksjon.</p>

</div>
        </div>
      
        <div class="c-billboard__image">
          <style>#Image-28647450476707-0 {
    max-width: 820px;
    max-height: 768.34px;
  }
  #ImageWrapper-28647450476707-0 {
    max-width: 820px;

  }

  #ImageWrapper-28647450476707-0::before {
     padding-top: 768.34px;
    
  }
</style><div id="ImageWrapper-28647450476707-0" data-image-id="28647450476707" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28647450476707-0" class="responsive-image__image lazyautosizes ls-is-cached lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0672358591248665" data-sizes="auto" tabindex="-1" alt="" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 1000w" sizes="819.6371398078975px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564 1000w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Forlovelesering_Giftering_Sevendal_hvitt_gull_brud.jpg?v=1690128564" alt="forlovelsesringer_gull_diamant_stående_sevendal">
</noscript>

        </div>
      

    </div>
</div>

</div>


<div id="shopify-section-16451883074f3eb86c" class="shopify-section" style="
    text-align: center;
">
<div class="c-grid--columns-3 ">
    
        <h3 class="c-grid__title h2-display" style="
    margin-bottom: 60px;
">Bevisst luksus </h3>
    

    <div class="c-grid__items">
        
    
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-2_small.png?v=1583931233" alt="ikon for sporbare diamanter sevendal">
                    
<div class="c-grid__item__text"><p>Alle våre naturlige diamanter kan spores tilbake til sitt opprinnelsesland og blir merket og sporet av en uavhengig tredjepart- <a href="https://www.canadamark.com/" title="Canadamark">Canadamark™.</a> Dette gir deg trygghet og visshet om at diamantene vi bruker er etisk fremstilt. </p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-3_small.png?v=1583931246" alt="ikon for etiske smyker sevendal">
                    
<div class="c-grid__item__text"><p>Vi streber etter å etablere en ny standard i vår bransje, der du som kunde ikke bare får den beste kjøpsopplevelsen og de beste prisene, men også kan være sikker på at smykkene du bærer hver dag er produsert på en human og bærekraftig måte.  </p></div></div></div>
</div>



</div>

<div class="sevendal_new">
<div class="sevendal_left">
<img loading="lazy" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/WhatsApp_Image_2022-10-18_at_19.20.48.jpg" alt="Canadamark logo hvit skrift blå bakgrunn"/>
<div class="sevendal_text">
<h2 class="c-billboard__title ">Vår standard - din trygghet</h2>


<p>Hos Sevendal velger vi ut hver eneste diamant med største omhu for å sikre at du alltid får den beste kvaliteten. Hver diamant er <a href=" https://sevendal.com/blogs/inspirasjon-og-kunnskap/canadamark-kvalitet-sporbarhet-diamant" title="Canadamark">sporbar</a> og sertifisert av verdens mest anerkjente og uavhengige gemologiske institutt, <a href="https://www.gia.edu/" title="GIA">GIA.</a></p>

<p></p>
 



</div>
</div>
  
<div class="sevendal_right">
<img loading="lazy" src="https://cdn.shopify.com/s/files/1/0298/5990/5669/files/WhatsApp_Image_2022-10-18_at_19.21.17_480x480.jpg" alt="Registrert forhandler Fairtrade-gull Sevendal"/>
</div>

</div>



