<style>
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard__image {
    order: 1;
}
div#shopify-section-1646221224aff0dcb4 .c-billboard__content {
    order: 2;
}


div#shopify-section-16451883074f3eb86c {
    margin-top: 20px;
}

@media (max-width: 767px)
{
div#shopify-section-1646221224aff0dcb4 .c-billboard--split .c-billboard__image {
    max-height: 45vh !important;
}

div#shopify-section-1646221224aff0dcb4 h2.c-billboard__title {
    margin-top: 20px;
}
  }
</style>
<div id="shopify-section-1646221224aff0dcb4" class="shopify-section" data-shopify-editor-section="{&quot;id&quot;:&quot;1646221224aff0dcb4&quot;,&quot;type&quot;:&quot;billboard&quot;,&quot;disabled&quot;:false}">
<div class="
  c-billboard
  c-billboard--split
  c-billboard--full-width
  u-bg-secondary-background
  c-billboard--image
  
  maxwidthsanin">
    <div class="c-billboard__inner">
      

      <div class="c-billboard__content"><h1 class="c-billboard__title ">Garantier</h1>
<div class="c-billboard__lead">
  </p><h2 class="c-billboard__sub_title ">Kvalitet og etikk</h2>
<p>Vi kjøper inn materialer etter de høyeste standarder, ikke bare med hensyn til kvalitet, men også med tanke på sosialt og miljømessig ansvar. Vi mener at sporbarhet er den mest effektive måten å sikre begge deler. </p>
<p>Vi er forpliktet til å tilby etiske og bærekraftige smykker, derfor samarbeider vi kun med etiske aktører og har full sporbarhet på våre materialer.  </p>
<p>Alle våre naturlige diamanter kommer fra Etkati- og Diavik-gruvene i Canada. Diamantene spores og deres geografiske opprinnelse verifiseres av en nøytral tredjepart, <a href="https://sevendal.com/blogs/inspirasjon-og-kunnskap/canadamark-kvalitet-sporbarhet-diamant" title="Canadamark™
">Canadamark™
</a>
 </p>
<p>Vi benytter kun Fairtrade-sertifisert gull i alle våre smykker, slik at vi med sikkerhet kan garantere at smykkene du kjøper hos oss, er både etiske og bidrar til å forbedre humanitære og miljømessige forhold.</p> 
<p>Vi står bak kvaliteten og håndverket i våre smykker og tilbyr livstidsgaranti mot defekter i materialer eller håndverk. </p>
<p>Med våre garantier kan du trygt velge smykker som reflekterer din egen etiske overbevisning samtidig som de vil glede deg i mange år fremover. </p>        
</div>
</div>
      
        <div class="c-billboard__image">
          <style>#Image-28659636011171-0 {
    max-width: 780.0px;
    max-height: 780px;
  }
  #ImageWrapper-28659636011171-0 {
    max-width: 780.0px;

  }

  #ImageWrapper-28659636011171-0::before {
     padding-top: 780px;
    
  }
</style><div id="ImageWrapper-28659636011171-0" data-image-id="28659636011171" class="responsive-image__wrapper ">
  <img loading="lazy" id="Image-28659636011171-0" class="responsive-image__image lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168" data-widths="[180,360,540,720,900,1000]" data-aspectratio="1.0" data-sizes="auto" tabindex="-1" width="615" height="615" alt="Logo Etiske Smykker Sevendal" data-srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 1000w" sizes="779.9999999999999px" srcset="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 180w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 360w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 540w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 720w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 900w, //cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168 1000w">
</div>

<noscript>
  <img loading="lazy" class="" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/Garantier_Sevendal_kvalitet_etikk_sporbarhet_logo_modell.jpg?v=1690147168" width="800" height="1000" alt="Logo Etiske Smykker Sevendal ">
</noscript>

        </div>
      

    </div>
</div>

</div>

<div id="shopify-section-16451883074f3eb86c" class="shopify-section">
<div class=" c-grid--columns-3 " style="
    text-align: center;
">
    
        <h3 class="c-grid__title h2-display" style="
    margin-bottom: 60px;
">Dette er våre garantier </h3>
    

    <div class="c-grid__items">
        
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-1_small.png?v=1583931213" width="40" height="40" alt="ikon_garanti_grøn_lilla_sevendal">
                    
<div class="c-grid__item__text"><p>Vi står bak kvaliteten og håndverket i våre smykker og tilbyr livstidsgaranti mot defekter i materialer eller håndverk. Hvis ditt smykke er skadet på grunn av produksjon eller materialer, reparerer eller erstatter vi uten spørsmål. 
 <br></p></div></div>
            <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-2_small.png?v=1583931233" width="40" height="40" alt="ikon_garanti_lilla_grønn_sevendal">
                    
<div class="c-grid__item__text"><p>Du kan være sikker på at gullet i smykkene fra oss har blitt utvunnet på en ansvarlig måte og at ditt kjøp bidrar til å bedre humanitære og miljømessige vilkår. Vi bruker kun Fairtrade-gull i alle våre smykker. </p></div></div>

 <div class="c-grid__item">

                
                    
                            <img loading="lazy" class="c-grid__item__image" src="//cdn.shopify.com/s/files/1/0298/5990/5669/files/guarantee-icon-3_small.png?v=1583931213" width="40" height="40" alt="ikon_garanti_beige_lilla_grønn_sevendal">
                    
<div class="c-grid__item__text"><p>Vi garanterer at våre diamanter ikke har noen tilknytning til brudd på menneskerettighetene, miljøskade, korrupsjon eller noen form for utnyttelse og er utvunnet mest mulig humant med lavest mulig miljøavtrykk.
<br></p></div></div>


</div>


</div>

</div>






